<!-- This file is adapted from the people example code-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
<title>Boxes</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* three DIVS: browse, insert, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('edit').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('edit').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('edit').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('edit').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newBox() { showform('insert'); }
    function deleteBox(boxID) { showform ('delete'); }
    function browseBoxes() { showform ('browse'); }
    function showAll() { showform ('all'); }
    </script>
</head>

<body onload="browseBoxes()">
    <h1>Boxes</h1>

    [ <a href="Index">Home</a> | <a href="Distributors">Distributors</a> | <a href="Customers">Customers</a> | <a href="Boxes">Boxes</a> | <a href="Distributor_Boxes">Distributor_Boxes</a> | <a href = "Purchases">Purchases</a>]
    <div id="browse">
	    <p><a href="#" onClick="newBox()">Add New</a> </p>
	    <table border="1" cellpadding="5" class="center">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

			    <tbody>
				    <!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our delete button -->
						    
						    <td><a href="delete_box/{{item.boxID}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
            </table>   
        <p>&nbsp;</p>
        </div>	<!-- browse -->

    <div id="insert">
        <form id ="insertBoxes" action="/Boxes" method="post">
            <legend><strong>Add Box</strong></legend>
            <fieldset class="fields">
                <label> boxType </label> <input type="text" name="boxType">
                <label> boxPrice </label> <input type = "number" name = "boxPrice">
            </fieldset>
			<input type="submit" value="Add Box" name="Add_Box" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseBoxes()">
	    </form> 
    </div><!-- insert -->


</body>
</html>