<html>
<head>
<title>Products</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newDistributor_Products() { showform('insert'); }
    function browseDistributor_Products() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseDistributor_Products()">
<h1>Distributor_Products</h1>

[ <a href="Distributor_Products.j2">Distributor_Products</a> | <a href="/">Customers</a> | <a href="Boxes.j2">Boxes</a> | <a href="Products.j2">Products</a> | <a href="Distributor_Products.j2">Distributor_Products</a> | <a href = "Purchases.j2">Purchases</a> ]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newDistributor_Products()">New</a></th>
    <th>dandpID</th>
    <th>distributorID</th>
    <th>productID</th>
  </tr>
  <tr>
    <th> </th>
    <td align="right">1</td>
    <td align="right">1</td>
    <td align="right">2</td>
  </tr>
  <tr>
    <th> </th>
    <td align="right">2</td>
    <td align="right">1</td>
    <td align="right">3</td>
  </tr>
  <tr>
    <th> </th>
    <td align="right">3</td>
    <td align="right">3</td>
    <td align="right">1</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addDistributor_Products">
        <legend><strong>Add Distributor_Products</strong></legend>
          <fieldset class="fields">
            <label> distributorID </label> <input type="text" name="distributorID">
            <label> productID </label> <input type = "text" name = "productID">
      </fieldset>
          <input class="btn" type="submit" id="addDistributor_Products" value="Add Distributor_Products">
          <input class="btn" type="button" value="cancel" onClick="browseDistributor_Productss()">
	</form> 


</body>
</html>
