<html>
<head>
<title>Distributors</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newDistributor() { showform('insert'); }
    function updateDistributor(pid) { showform ('update'); }
    function deleteDistributor(pid) { showform ('delete'); }
    function browseDistributors() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseDistributors()">
<h1>Distributors</h1>

[ <a href="Distributors.j2">Distributors</a> | <a href="/">Customers</a> | <a href="Boxes.j2">Boxes</a> | <a href="Products.j2">Products</a> | <a href="Distributor_Products.j2">Distributor_Products</a> | <a href = "Purchases.j2">Purchases</a> ]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> (click here to show all the forms for creating, updating or deleting data) </p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newDistributor()">New</a></th>
    <th>distributorID</th>
    <th>boxID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Product</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><a href="#" onclick="deleteDistributor('this.distributorID')">Delete</a></td>
    <td align="right">1</td>
    <td align="right">4</td>
    <td>Farmer Jack</td>
    <td>leaner@gmail.com</td>
    <td>498-768-4823</td>
    <td>4345 Shoulder Lane</td>
    <td>Vicksburg</td>
    <td>Mississippi</td>
    <td>39768</td>
    <td>Lean Meats</td>
    <td>10.00</td>
  </tr>
  <tr>
    <td><a href="#" onclick="deleteDistributor('this.distributorID')">Delete</a></td>
    <td align="right">1</td>
    <td align="right">4</td>
    <td>Fruit-Surplus</td>
    <td>crazyfruit@gmail.com</td>
    <td>473-584-3623</td>
    <td>473 Cluck Road</td>
    <td>Gainesville</td>
    <td>Florida</td>
    <td>83430</td>
    <td>Fruit</td>
    <td>5.00</td>
  </tr>
  <tr>
    <td><a href="#" onclick="deleteDistributor('this.distributorID')">Delete</a></td>
    <td align="right">3</td>
    <td align="right">5</td>
    <td>Nut-and-Seed-Palace</td>
    <td>buckwheat@gmail.com</td>
    <td>483-584-3421</td>
    <td>892 Seedy Drive</td>
    <td>Dayton</td>
    <td>Georgia</td>
    <td>58493</td>
    <td>Nuts and Seeds</td>
    <td>12.00</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addDistributor">
        <legend><strong>Add Distributor</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="distributorName">
            <label> Email </label> <input type="text" name="distributorEmail">
            <label> Phone </label> <input type = "text" name = "distributorPhone">
            <label> Address </label> <input type = "text" name = "distributorAddress">
            <label> City </label> <input type = "text" name = "distributorCity">
            <label> State </label> <input type = "text" name = "distributorState">
            <label> Zipcode </lable> <input type = "text" name = "distributorZipcode">
            <label> Product </lable> <input type = "text" name = "distributorProduct">
            <label> Price </lable> <input type = "text" name = "distributorPrice">
      </fieldset>
          <input class="btn" type="submit" id="addDistributor" value="Add Distributor">
          <input class="btn" type="button" value="cancel" onClick="browseDistributors()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteDistributor">
      <legend><strong>Delete Distributor</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="distributorID" id="deletedistributorID" value="1">
          
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteDistributor" value="Delete Distributor">
          <input class="btn" type="button" value="cancel" onClick="browsePeople()">
  </form> 
</div><!-- delete -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateDistributor">
        <legend><strong>Update Distributor</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="distributorID" id="updatedistributorID" value="1">
          <label> ID: </label> 1
            <label> Name </label> <input type="text" name="distributorName">
            <label> Email </label> <input type="text" name="distributorEmail">
            <label> Phone </label> <input type = "text" name = "distributorPhone">
            <label> Address </label> <input type = "text" name = "distributorAddress">
            <label> City </label> <input type = "text" name = "distributorCity">
            <label> State </label> <input type = "text" name = "distributorState">
            <label> Zipcode </lable> <input type = "text" name = "distributorZipcode">
            <label> Product </lable> <input type = "text" name = "distributorProduct">
            <label> Price </lable> <input type = "text" name = "distributorPrice">
      </fieldset>
          <input class="btn" type="submit" id="UpdateDistributor" value="Update Distributor">
          <input class="btn" type="button" value="cancel" onClick="browseDistributor()">
	</form> 
</div><!-- update -->

</body>
</html>
