<!-- # -gkochera(March 2020) flask-starter-app(Version 1.0) [Github Repo Source Code] https://github.com/osu-cs340-ecampus/flask-  starter-app.git
# - citation scope: bsg_people_app module
#  - Originality: Based on the CS 340 bsg_people_app starter code with exception of contents of the bsg_people_app-->
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
<title>HomePage</title>
</head>
<body>
    <h1></h1>
    <nav>
        <a href="Index">Home</a>
        <a href="Customers">Customers</a>
        <a href="Boxes">Boxes</a>
        <a href="Distributors">Distributors</a>
        <a href ="Distributor_Boxes">Distributor Boxes</a>
        <a href="Purchases">Purchases</a>
    </nav>
    <div id = "logo">
    <img src="static/img/paleoprov.png" alt="Logo" class="center">
    </div>
    <br>
</body>
</html>