<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
<title>HomePage</title>
</head>
<body>
    <h1>Paleo Provisions</h1>
    <nav>
        <a href="Index">Home</a>
        <a href="Customers">Customers</a>
        <a href="Boxes">Boxes</a>
        <a href="Distributors">Distributors</a>
        <a href ="Distributor_Boxes">Distributor Boxes</a>
        <a href="Purchases">Purchases</a>
    </nav>
    <br>
</body>
</html>