<html>
<head>
    <title>Update Distributor</title>
</head>
<body>
    <h1>Update Distributor</h1>
    <form method="POST" action="{{ url_for('update_distributors', distributor_id=distributor['distributorID']) }}">
        <label>Name:</label>
        <input type="text" name="distributorName" value="{{ distributor['distributorName'] }}"><br><br>
        <label>Email:</label>
        <input type="text" name="distributorEmail" value="{{ distributor['distributorEmail'] }}"><br><br>
        <label>Phone:</label>
        <input type="text" name="distributorPhone" value="{{ distributor['distributorPhone'] }}"><br><br>
        <label>Address:</label>
        <input type="text" name="distributorAddress" value="{{ distributor['distributorAddress'] }}"><br><br>
        <label>City:</label>
        <input type="text" name="distributorCity" value="{{ distributor['distributorCity'] }}"><br><br>
        <label>State:</label>
        <input type="text" name="distributorState" value="{{ distributor['distributorState'] }}"><br><br>
        <label>Zipcode:</label>
        <input type="text" name="distributorZipcode" value="{{ distributor['distributorZipcode'] }}"><br><br>
        <label>Product:</label>
        <input type="text" name="distributorProduct" value="{{ distributor['distributorProduct'] }}"><br><br>
        <label>Price:</label>
        <input type="text" name="distributorPrice" value="{{ distributor['distributorPrice'] }}"><br><br>
        <input type="submit" value="Update Distributor">
    </form>
</body>
</html>
